In [1]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_csv('iris.data.txt', header = None)
data.columns = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class']
print(data.shape)
print(data.head())

(150, 5)
   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [14]:
X = data[['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width']]
print(X.shape)
Y = data[['Class']]
print(Y.shape)

(150, 4)
(150, 1)

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120, 1)
(30, 1)

In [21]:
y_train

               Class
27       Iris-setosa
8        Iris-setosa
69   Iris-versicolor
46       Iris-setosa
126   Iris-virginica
..               ...
45       Iris-setosa
75   Iris-versicolor
50   Iris-versicolor
54   Iris-versicolor
30       Iris-setosa

[120 rows x 1 columns]

In [24]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)

# Train the model using the training sets
model.fit(X_train, np.squeeze(y_train))

#Predict Output
y_predict = model.predict(X_test)

In [27]:
print(model.score(X_test, y_test))

0.9666666666666667

In [30]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression(max_iter = 300)
log_model.fit(X_train, np.squeeze(y_train))
print(log_model.score(X_train, y_train))
print(log_model.score(X_test, y_test))

0.9666666666666667
1.0